{% extends 'base.html' %}
{% block title %} Карточка наследственного дела {% endblock %}
{% block content %}
<div class="content">
    <!-- <h2 class="inheritance_card-title">Карточка наследственного дела</h2> -->
     <table class="results-table ic_table" border="1">
            <caption><b>Карточка наследственного дела</b></caption>
            <tbody>
                <tr>
                    <td class="ic_td">1. Номер наследственного дела</td>
                    <td class="ic_td"></td>
                </tr>
        
                <tr>
                    <td class="ic_td">2. ФИО наследодателя</td>
                    <td class="ic_td"></td>
                </tr>
                <tr>
                    <td class="ic_td">3. Дата смерти наследодателя</td>
                    <td class="ic_td"></td>
                </tr>
                                <tr>
                    <td class="ic_td">4. Адрес последнего места жительство</td>
                    <td class="ic_td"></td>
                </tr>
                                <tr>
                    <td class="ic_td">5. Дата открытия наследственного дела</td>
                    <td class="ic_td"></td>
                </tr>
                                <tr>
                    <td class="ic_td">6. Дата закрытия наследственного дела</td>
                    <td class="ic_td"></td>
                </tr>
                                <tr>
                    <td class="ic_td">7. ФИО нотариуса (открывшего/закрывшего наследственное дело)</td>
                    <td class="ic_td"></td>
                </tr>
                
            </tbody>
        </table>


    
    

    
</div>

{% endblock %}