{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href='{% static "css/style_main.css" %}'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Главная страница{% endblock %}</title>
</head>

<body>

    <div class="container">

        <header class="header">
            <div class="logo">

                <a href="{% url 'home' %}"><img src="{% static 'images/png/logotip.png' %}" alt="Эмблема Нотариальной палаты" width="110px"
                        height="110px"></a>
            </div>

            <h1>Архив Нотариальной палаты Республики Северная Осетия - Алания</h1>
            <img src="{% static 'images/svg/user-profile-filled.svg' %}" alt="" class="profile">

        </header>

        <div class="main">

            <aside class="sidebar">
                
                <div class="sidebar-main">
                    <div class="nav-section">
                        <h3 class="nav-section-title">Основные разделы:</h3>
                        

                        <nav class="nav-links">
                            <ul>
                                <li><a href="{% url 'index_ic' %}">Наследственные дела</a></li>
                                <li><a href="{% url 'index_testaments' %}">Завещания</a></li>
                                <li><a href="{% url 'index_contracts' %}">Договоры и Соглашения</a></li>
                            </ul>



                        </nav>
                    </div>
                </div>
            </aside>



            <!-- <form action="" class="authorization">
                <label for="">Login</label>
                <input type="text" class="input-authorization">
                <label for="">Password</label>
                <input type="text" class="input-authorization">
                <input type="submit" value="Авторизоваться" class="submit-authorization">
            </form> -->


            
            {% block content %}
            {% endblock %}
        </div>

    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>